
.header {
  margin: 2.5em;
  min-width: 15vw;
}

.logo {
  filter: grayscale(1);
}

.navigation {
  margin-top: 1rem;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 3px solid #222;
  cursor: pointer;
}

.navigation ul li:hover {
  background-color: #222;
  color: white;
}

.navigation ul li.active {
  background-color: black;
  color: white;
}