.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.header div {
    /* flex: 1; */
}

.header>.logo {
    flex-grow: 1;
    flex-basis: 0;
}
.header>.navigation {
    text-align: center;
}

.header>a {
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
}

@media only screen and (max-width: 670px) {
    .header>.navigation {
        display: none;
    }
    
    .header>.button {
        display: none;
    }
} 