.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.header div {
    /* flex: 1; */
}

.header>.logo {
    flex-grow: 1;
    flex-basis: 0;
}
.header>.navigation {
    text-align: center;
}

.navButtons {
    display: flex;
    gap: 0.5rem;
    justify-content: right;

    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
}

@media only screen and (max-width: 920px) {
    .header.open {
        margin: 0;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #0D0D0D;
        display: flex;
        
        flex-direction: column;

        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .header.open>.logo {
        display: none;
    }

    .header>.navigation {
        width: 100%;
    }

    .header>a {
        display: none;
    }

    /*

    body>div>div>*:not(.header) {
        display: none;
    }*/
} 
