.postContent {
    h2:not(:first-child) {
        margin-top: 3rem;
    }
    h3:not(:first-child) {
        margin-top: 2.25rem;
    }
}

.postContent img {
    max-width: 100%;
    border-radius: 6px;
}

.postImage {
    position: relative;
    height: 350px;
    border-radius: 0.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    @media only screen and (max-width: 800px) {
        height: 250px !important;
    }
    @media print {
        margin: -1rem 0 1rem 0
    }
    img {
        object-fit:cover;
        border-radius: 0.5rem;
    }
}

.title {
    margin-bottom: 1.5rem;
}
.excerpt {
    font-family: 'Poppins';
    font-size: 1.2em;
}

.details {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    span {
        display: flex;
        flex-direction: column;
        font-size: .9em;

        display: flex;
        gap: 4px;
        span {
            opacity: 0.6;
            @media print {
                opacity:1;
            }
        }
        .authorsName {
            font-weight: bold;
            opacity: 1;
        }
    }
    .middle { flex: 1; }
    @media only screen and (max-width: 600px) {
        .editButton {
            display: none;
        }
    }
}
