NEXT_PUBLIC_URL=

# Recommendation is to fetch data from the production server at api.testausserveri.fi, unless you are developing Testausapis locally
# See https://github.com/Testausserveri/testausapis/ for running the backend locally
NEXT_PUBLIC_API_SERVER=
NEXT_PUBLIC_API_SERVER_MEDIA=

# Used for Discord OAuth login, e.g. membership apply form
NEXT_PUBLIC_LOGIN_URL_APPLY=

# For internal api routes, e.g. fetching member name by id
# See https://github.com/Testausserveri/testausapis/blob/main/src/middleware/internalApi.js
INTERNAL_API_SECRET=

# For analytics, we use a self hosted Plausible instance
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
NEXT_PUBLIC_PLAUSIBLE_INSTANCE=