@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Poppins:wght@600;800&display=swap');

body {
    background: #eee;
    margin: 2rem;
}
.center {
    max-width: 800px;
    margin: 0 auto;
}
.widerCenter {
    max-width: 1100px;
    margin: 0 auto;
}
.background {
    background-image: url('https://media1.tenor.com/images/be9bc616e1be715c6263a956808b0e66/tenor.gif?itemid=13446009');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    display: block;
    margin: 5vw 0;
}
.footer {
    margin: 5vw 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #111;
    font-weight: 800;
}

.background:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

p {
    font-family: 'PT Serif', serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.joinBox {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #e2e7f7;
}

.joinBoxInner {
    margin: 1.5rem;
    display: flex;
}

.joinButton {
    text-decoration: none;
    background-color: #7289DA;
    color: #eee;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;     
    padding: 2rem 3rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.joinButton:hover {
    background-color: #667bc4;
}
.joinInfo {
    font-family: 'PT Serif', serif;
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.infoBlock {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 1.5rem;
}

.infoHeading {
    display: block;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;    
    font-weight: 600;
}
.infoValue {
    font-size: 1.5em;
}


/*
Projects grid
pain in the ass 🍑
*/

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding-top: 2rem;
}
.projectsGrid .item:nth-child(2) {
    grid-column: 2 / 4;
    aspect-ratio: 2 / 1;
}

.projectsGrid .item {
    aspect-ratio: 1/1;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    max-width: 100%;
    text-decoration: none;
}

.itemBackground {
    position: absolute;
    top: 0; left: 0; width: calc(100% - 2vw); height: calc(100% - 2vw);
    margin: 1vw;
    border-radius: 6px;
    height: calc(100% - 2vw);
    background-size: cover;
    filter: contrast(0.2) brightness(1.7) saturate(1.7) grayscale(0.3);
    opacity: 0.5;
    background-position: center;
    /* maybe even background-attachment: fixed; ? */
    z-index: -20;
}

.itemBackground:after {
    content: ' ';
    border: 1px solid #000;
    top: 0; left: 0;
    width: 100%; height: 100%;
    position: absolute;
    border-radius: 6px;
}
video.itemBackground {
    width: calc(100% - 2vw);
    object-fit: cover;
}

.itemContent {
    z-index: 10;
    color: #333;
    margin: 1vw; /* this is what we use for the gap */
    padding: 2.5rem;
    font-size: 1.1rem;
    display: flex;
    font-family: 'PT Serif', serif;
    flex-direction: column-reverse;
}
.CBig {
    flex: 1;
}
.mediaLogo {
    opacity: 0.7;
    height: 1em;
}
.itemContent .piTitle {
    margin: 0;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #111;
    font-weight: 600;
    display: block;
    text-decoration: none;
}
a[href] .itemContent .piTitle::after {
    content: ' ';
    background-image: url(assets/tab.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
    opacity: 0.9;
    margin-left: 0.5em;
}
.piOrg {
    line-height: 1.7em;
}

@media only screen and (max-width: 1000px) {
    .projectsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .projectsGrid .item:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 1;
        aspect-ratio: 2 / 1;
    }
    .itemContent {
        padding: 2rem;
    }
}

@media only screen and (max-width: 630px) {
    .projectsGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: column;
        grid-auto-rows: fit-content(1em);
        width: calc(100% + 2vw);
        margin-left: -1vw;
    }
    .projectsGrid .item {
        grid-column: 1 / 2;
        aspect-ratio: unset;
    }
    .itemContent {
        padding: 1.5rem;
    }
  }
  @media only screen and (max-width: 780px) {
    .projectsGrid {
        font-size: small;
    }
  }
  @media only screen and (max-width: 500px) {
    .projectsGrid {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 650px) {
    .joinBoxInner {
        flex-direction: column;
    }
    .joinButton {
        margin-bottom: 0.5rem;
    }
    .joinInfo {
        padding: 0.5rem 0 0 0;
        justify-content: space-around;
        
    }
    .infoBlock {
        margin-left: 0;
        width: 50%;
    }
}