.loginCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    z-index: 100;
    backdrop-filter: blur(5px);
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.3s;
}

.loginCover:not(.visible) {
    opacity: 0;
    pointer-events: none;
}

.loginCover.visible>* {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(1rem);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}
