.navigatelink {
    font-family: 'Poppins';
    opacity: 0.9;
    display: block;
    margin-bottom: 1em;
}

.navigatelink svg:nth-last-child(1) {
    vertical-align: middle;
    font-size: 1.4em;
    margin-left: 0.4em;
    transform: translateY(-1.5px);
    transition: margin-left 0.2s ease-out;
}

.navigatelink:hover svg:nth-last-child(1) {
    margin-left: 0.8em !important;
    color: white;
}