.capsuleButton * {
    pointer-events: none;
}
.capsuleButton {
    background-color: #F0F0F0;
    padding: 1em 1.3em;
    font-size: 1em;
    font-family: 'Poppins';
    font-weight: normal;
    display: inline-block;
    border-radius: 200px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    mix-blend-mode:screen;
    text-decoration: none;
    color: black;
}

.capsuleButton:hover {
}

.ripple {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.09);
    border-radius: 100px;
    position: absolute;
    transform: scale(var(--size));
    transition: transform 0.2s;
}
.ripple.visible {
    transform: scale(1) !important;
}
.buttonIcon {
    display: flex;
    margin-right: .8rem;
    margin-bottom: 1px;
}
.buttonIcon img {
    width: 1.4em !important;
    height: 1.4em !important;
}
.small {
    padding: 0.7rem 0.9rem;
    font-size: 0.9em;
}