.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #777;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #333;
}

.separator:not(:empty)::before {
    margin-right: 1em;
}

.separator:not(:empty)::after {
    margin-left: 1em;
}