.collaborations {
    width: 100%;
    text-align: center;
}

.collaborations h2 {
    font-size: 1.2rem;
}

.collaborations ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: -0.4rem;  
    margin-top: -1rem;  
    row-gap: 1.5rem;
}
.collaborations ul li {
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 0.1s;
}
.collaborations ul li:hover {
    opacity: 1;
}

.collaborations h2 {
    color: #F0F0F0;
    font-family: 'Poppins';
    font-size: 1.2rem;
    margin: 2.5rem;
}
