.projects3D {
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects3D .spinner {
  display: none;
  position: absolute;
  z-index: 4;
}

.projects3D.loading .spinner {
  display: inline-block;
}

.splineWrapper {
  flex: 1;
  position: relative;
  margin-top: -40px;
  height: 100%;
  filter: blur(0px);

  transition-property: filter;
  transition-duration: 0.5s;
  transition-delay: 1s;
}

.splineWrapper::before {
  content: '';
  background-image: url('../../assets/projects-3d-placeholder.png');
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  transition: opacity 1s;
  background-size: auto 100%;
  transform: scale(2);
  background-position: center;
  pointer-events: none;
}
.loading .splineWrapper {
  transition: filter 0.5s;
  filter: blur(30px);
  pointer-events: none;

}
.loading .splineWrapper::before {
  opacity: 1;
}
.splineWrapper::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 26px 20px #0D0D0D; 
  box-shadow: inset 0px 0px 26px 20px #0D0D0D;
  pointer-events: none;
}