.projects3D {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects3D .spinner {
  display: none;
  position: absolute;
  z-index: 4;
}

.projects3D.loading .spinner {
  display: inline-block;
}

.splineWrapper {
  flex: 1;
  position: relative;
  margin-top: -40px;
  height: 100%;
  filter: blur(0px);

  transition-property: filter;
  transition-duration: 0.5s;
  transition-delay: 2s;
}
.loading .splineWrapper {
  transition: filter 0.5s;
  /*filter: blur(30px);*/
  pointer-events: none;
  position: relative;
}

.loading .splineWrapper::before {
  content: '';
  background-image: url('../../assets/projects-3d-placeholder.png');
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: auto 200%;
  background-position: center;
  pointer-events: none;
  transform: scale(0.98);

  opacity: 0;
  transition: opacity 1s;
  z-index: -3;

}
.loading .splineWrapper::before {
  opacity: 1;
}

.splineWrapper::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 26px 20px #0D0D0D; 
  box-shadow: inset 0px 0px 26px 20px #0D0D0D;
  pointer-events: none;
  z-index: 1;
}

.tip {
  position: absolute;
  bottom: 2rem;
  opacity: 0;
  transition: opacity 0.15s;
}

.tipVisible .tip {
  opacity: 1;
}
