.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #DBDBDB;
    opacity: 0.74;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

.item:hover {
    opacity: 1;
}

.items .item:not(:first-child) {
    margin-left: 2rem;
}

.item.active {
    opacity: 1;
    font-weight: 600;
}

.item a:before {
    content: none;
}

.mobileHeader {
    flex-direction: row;
    justify-content: flex-end;
    height: 4rem;
    display: none;
}
.mobileButton {
    display: flex;
    justify-content: flex-end;
    height: 4rem;
}
@media only screen and (max-width: 670px) {
    .mobileHeader {
        display: flex;
    }
    .items {
        display: none;
    }
    .open .mobileHeader {
        margin: 2rem;
        margin-bottom: 1rem;
        
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }
    .open {
        display: flex;
        flex-direction: column;
    }
    .open .items {
        display: block;
    }
    .open .item {
        width: 100%;
        padding: 2rem;
        padding-bottom: 0;
        box-sizing: border-box;
        margin-left: 0 !important;
        text-align: left;
    }
    
}