.discordBackground {
    aspect-ratio: 1.694 / 1;
    width: 1120px;
    position: relative;
}

.liveArea {
    top: 11.4%;
    left: 34.49%;
    width: 36.64%;
    height: 67.91%;
    background-color: #37393E;
    position: absolute;
    font-size: 0.75rem;
    overflow: auto;
}

.discordMessages {
    position: absolute;
    bottom: 0;
    border: none !important;
}

.liveAreaInner {
    position: relative;
    height: 100%;
}
.liveArea discord-message {
    margin-top: 0.7em !important;
}
@media only screen and (max-width: 1100px) {
    .discordBackground {
        width: 880px;
    }
}
@media only screen and (max-width: 960px) {
    .discordBackground {
        width: 720px;
    }
}
@media only screen and (max-width: 800px) {
    .discordBackground {
        width: 640px;
    }
}
@media only screen and (max-width: 670px) {
    .liveArea {
        top: 13.80%;
        left: 19.00%;
        width: 62.08%;
        height: 64.08%;
    }
    
    .discordBackground {
        background-image: url("discord-mobile.png");
        aspect-ratio: 0.6071 / 1;
        max-width: 450px;
    }
}


.cover {
    content: ' ';
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 66.67%, #0D0D0D 96.87%);
    
    top: 0px;
    transition: top 2s cubic-bezier(0.080, 0.715, 0.390, 0.945);
}
.hero {
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    position: relative;
    overflow: hidden;
    margin-bottom: -22rem;
    perspective: 100px;
}


.heroDiscordLive {
    transition: transform 2s cubic-bezier(0.080, 0.715, 0.390, 0.945);
    transform-style: preserve-3d;
    transform: rotateX(0deg);
}

.focusHero .cover {
    top: 120px;
}

.focusHero .heroDiscordLive {
    transform: rotateX(-0.5deg);
}

@media only screen and (max-width: 670px) {
    .cover {
        background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 50%, #0D0D0D 96.87%);
    }
    .hero {
        margin-bottom: -32rem;
    }
}

