@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/*
 fonts hosted by https://github.com/skyra-project/discord-components
*/
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
	font-weight: 500;
}
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
	font-weight: 700;
}

.discordMessages {
    width: 100%;
}

.discordMessage:last-child {
    margin-bottom: 0.5rem;
    border-bottom-width: 0;
}
.discordMessage:first-child {
    margin-top: 0.5rem;
}
.discordMessage {
    color: #dcddde;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    font-family: Whitney, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px 1em;
    position: relative;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0;
    padding-right: 48px !important;
    margin-top: 1.2em;
}

.discordMessageInner {
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.discordAuthorAvatar {
    margin-right: 1.1em;
    margin-top: 0.3em;
    min-width: 2.8em;
    z-index: 1;
}
.discordAuthorAvatar img {
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
}

.discordMessageContent {
    width: 100%;
    line-height: 160%;
    font-weight: normal;
    padding-top: 0.1em;
}

.discordAuthorInfo {
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
}

.discordAuthorUsername {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}

.discordMessageTimestamp {
    color: #72767d;
    font-size: 0.8em;
    margin-left: 0.3em;
}

.discordMessageBody {
    /*font-size: 1rem;*/
    font-size: 1.1em;
    font-weight: 400;
    word-break: break-word;
    position: relative;
}

.discordMessageMarkup {
    /*font-size: 1rem;*/
    line-height: 1.375rem;
    word-wrap: break-word;
    user-select: text;
    font-weight: 400;
}