.textArea {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    border: solid rgb(32, 32, 32) 2px;
    display: flex;
    width: 100%;
    overflow: auto;
}

.typeArea {
    z-index: 1;
    min-height: 8rem;
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    resize: none;
    padding: 0.5rem 1rem 1rem 1rem;
    overflow: hidden;
    font-family: 'Poppins';
}

.typeArea:focus {
    outline: none
}

.characterCounter {
    position: absolute;
    bottom: 0;
    right: 0;
    height:min-content;
    background-color: rgba(158, 158, 158, 0.2);
    color: rgba(255,255,255,0.65);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    font-weight: normal;
    font-size: 0.9em;
}