.footer {
    background-color: white;
    width: 100%;
    padding: 2.5rem 0;
}

.row {
    display: flex;
}

.row>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
}

.row>div>div {
    display: flex;
    align-items: center;
}

.row>div:nth-child(2)>div {
    justify-content: right;
}

.links {
    line-height: 1.4;
}

.links li {
    list-style-type: none;
    text-align: right;
}

.footer img {
    height: 100%;
}

.row ul {
    margin: 0;
}

.socials li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0.7rem;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.15s;
}

.socials li:hover {
    opacity: 1;
}