.footer {
    background-color: rgba(108, 108, 108, 0.09);
    width: 100%;
    padding: 2.5rem 0.7rem;
    color: #DBDBDB;
}

.row {
    display: flex;
}

.row>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
}

.row>div:nth-child(1) {
    flex: 1;
}

.row>div>div {
    display: flex;
    align-items: center;
}

.row>div:nth-child(2)>div {
    justify-content: right;
}

.links {
    line-height: 1.4;
}

.links li {
    list-style-type: none;
    text-align: right;
}

.footer img {
    height: 100%;
    filter: invert(1);
    opacity: 0.85;
    transition: opacity 0.15s;
    cursor: pointer;
}
.footer img:hover {
    opacity: 1;
}

.row ul {
    margin: 0;
}

.socials li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0.7rem;
}

.logo {
    max-height: 90px;
}