.discordBox {
    border: 3px solid #222;
    padding: 1rem;
    padding-inline-start: 1rem;

    margin: 3rem 0;

    display: flex;
}

.joinButton {
    text-decoration: none;
    background-color: #222;
    color: #fff;
    padding: 2rem 3rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.joinButton:hover {
    background-color: #000;
}

.joinInfo {
    color: var(--text);
    font-size: 1.2rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoBlock {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 1.5rem;
}

.infoHeading {
    display: block;
    font-weight: 600;
}

.infoValue {
    font-size: 1.5em;
}