.statGroup {
    /*
        never thought drupal could be useful
        until they invented this magical grid code
    */

    /** 
    * User input values.
    */
    --grid-layout-gap: 1rem;
    --grid-column-count: 4;
    --grid-item--min-width: 150px;

    /**
    * Calculated values.
    */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
}