@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  background-color: #0D0D0D;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --gradient: linear-gradient(95.61deg, #8BBAFF -8.65%, #6CE5FF 45.52%, rgba(120, 255, 231, 0.96) 96.41%);
  overflow-x: hidden;
  color: #DBDBDB;
}

p, ul, ol {
  line-height: 1.6;
  hyphens: auto;
  color: rgba(255,255,255, 0.64);
}

table {
  border-collapse: collapse;
  color: rgba(255,255,255, 0.64);
}
table td, table th {
  padding: 0.3rem;
  border: 1px solid #222;

}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p:not(.noLinkStyles) a, 
ul:not(.noLinkStyles) a, 
table:not(.noLinkStyles) a, 
.link,
.tip a {
  color: oklch(57.61% 0.2321 258.23);
  transition: color 0.1s;
}

p:not(.noLinkStyles) a:hover, 
ul:not(.noLinkStyles) a:hover, 
table:not(.noLinkStyles) a:hover, 
.tip a:hover, .link:hover {
  color: white;
}

.tip {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.9rem !important;
  color: rgba(255,255,255,0.8) !important;


}

small, figcaption {
  font-size: 0.9em;
  color: rgba(255,255,255,0.5) !important;
}
