@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  background-color: #0D0D0D;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --gradient: linear-gradient(95.61deg, #8BBAFF -8.65%, #6CE5FF 45.52%, rgba(120, 255, 231, 0.96) 96.41%);
  overflow-x: hidden;
  color: #DBDBDB;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

ul {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

p a:before, ul a:before, table a:before, .tip a:before {
  content: "";
  position: absolute;
  top: -.05rem;
  left: -.2rem;
  width: 100%;
  height: 100%;
  padding: .05rem .2rem;
  background-color: rgba(255,255,255,.09);
  z-index: 0;
  border-radius: 9px;
  transition: background-color .1s;
}

p a:hover:before, ul a:hover:before, table a:hover:before, .tip a:hover:before {
  background-color: rgba(255,255,255,.20);
}

.tip {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}