@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  background-color: #0D0D0D;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --gradient: linear-gradient(95.61deg, #8BBAFF -8.65%, #6CE5FF 45.52%, rgba(120, 255, 231, 0.96) 96.41%);
  overflow-x: hidden;
  color: #DBDBDB;
}

p {
  line-height: 1.5;
  color: rgba(255,255,255, 0.7);
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

p:not(.noLinkStyles) a, 
ul:not(.noLinkStyles) a, 
table:not(.noLinkStyles) a, 
.link,
.tip a {
  background-color: #282828;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  filter: url('/roundfilter.svg#roundfilter');
  position: relative;
  transition: background-color .1s;
}

p:not(.noLinkStyles) a:hover, 
ul:not(.noLinkStyles) a:hover, 
table:not(.noLinkStyles) a:hover, 
.tip a:hover, .link:hover {
  background-color: #333;
}

.tip {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.9rem !important;
  color: rgba(255,255,255,0.8) !important;


}

small, figcaption {
  font-size: 0.9em;
  color: rgba(255,255,255,0.5) !important;
}
